.change-qty {
    color: #33c3f0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.input-qty {
    width: 30px;
    height: 26px;
    text-align: center;
    font-size: 2.2rem;
}
.button-count {
    border-color: #33c3f0;
}

.button-count:active {
    transform: scale(0.98);
}

.button-primary:active {
    transform: scale(0.98);
}

@media print {
    .label {
        box-sizing: border-box;
        overflow-x: hidden;
        page-break-after: always;
    }
    .text {
        font-family: 'Alegreya Sans', sans-serif;
        padding: 0.2cm;
        font-size: 4pt;
        position: relative;
        height: auto;
    }
}

.label::-webkit-scrollbar {
    width: 0;
}

.filter {
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 2em 0px 8px;
}

input[type='radio'],
input.radio {
    float: left;
    clear: none;
    margin: 1px 10px 0 2px;
    width: 22px;
    height: 22px;
}

table {
    margin-top: 60px;
}

.title__header {
    padding: 1rem 0 2rem;
    text-align: center;
}
